[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git@github.com:project-eutopia/vim-colors-solarized.git
[submodule "bundle/ag"]
	path = bundle/ag
	url = git@github.com:rking/ag.vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = git@github.com:tpope/vim-abolish.git
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = git@github.com:tpope/vim-bundler.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "bundle/vim-mathematica"]
	path = bundle/vim-mathematica
	url = git@github.com:rsmenon/vim-mathematica.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "bundle/vim-rake"]
	path = bundle/vim-rake
	url = git@github.com:tpope/vim-rake.git
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "bundle/vim-rubocop"]
	path = bundle/vim-rubocop
	url = git@github.com:ngmy/vim-rubocop.git
[submodule "bundle/vim-slim"]
	path = bundle/vim-slim
	url = git://github.com/slim-template/vim-slim.git
[submodule "bundle/vim-autoclose"]
	path = bundle/vim-autoclose
	url = git@github.com:Townk/vim-autoclose
[submodule "bundle/vim-rabl"]
	path = bundle/vim-rabl
	url = git@github.com:yaymukund/vim-rabl.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "bundle/vim-easy-align"]
	path = bundle/vim-easy-align
	url = git@github.com:junegunn/vim-easy-align
[submodule "bundle/vim-closetag"]
	path = bundle/vim-closetag
	url = git@github.com:alvan/vim-closetag
[submodule "bundle/vim-textobj-user"]
	path = bundle/vim-textobj-user
	url = git@github.com:kana/vim-textobj-user
[submodule "bundle/vim-textobj-rubyblock"]
	path = bundle/vim-textobj-rubyblock
	url = git@github.com:nelstrom/vim-textobj-rubyblock
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:bling/vim-airline
